/* ----- Bootstrap Styles ----- */
body {
  padding-top: 100px;
}

img {
  max-width: 100%;
}

.navbar-toggler,
.navbar-toggler:active {
  border: 0;
}

.navbar {
  box-shadow: 0px 2px 2px #e5e5e5;
}

.row {
  display: flex;
}

.col-6 {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: orangered;
  border: none;
  color: #fff;
  border-radius: 10em;
}

.btn:hover {
  background-color: orangered;
  color: #fff;
  opacity: 0.8;
}

.form-control {
  border-radius: 10em;
}

/* ----- Typography ----- */

h1 {
  font-weight: bold;
  padding: 0.9em 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

/* ----- Hero Section ----- */

.row-hero-coop {
  margin-bottom: 20px;
}

.hero-content {
  padding: 0 auto;
  justify-content: center;
  align-items: center;
}

.hero-image {
  background-image: url(./Images/bc_casestudy_2020_lex_img-19.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100%;
  background-repeat: no-repeat;
}

/* ----- Menu Section ----- */
.menu {
  background-color: orangered;
  padding: 6em 1em;
}

.menu-title {
  color: #fff;
}

.card {
  margin-bottom: 20px;
  border-radius: 25px;
}

.card-img-top {
  border-radius: 25px 25px 0 0;
}

/* ----- Parallax Image ----- */
/* .parallax {
  background-image: url(./Images/Posters.png);
  background-color: #e5e5e5;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */

/* ----- Volunteer Section ----- */

.volunteer {
  padding: 12em 0;
}

.overflow-img {
  margin-left: -200px;
}

.volunteer-section {
  display: flex;
  gap: 1em;
  padding: 5em 0;
  align-items: center;
}

.volunteers-img {
  max-width: 60%;
  margin-left: -120px;
}

.volunteers {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  margin: 0 auto;
}

.newsletter {
  background-color: orangered;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
}

.CTA-title {
  font-size: 2rem;
}

.newsletter-input {
  border-radius: 20em;
  border: none;
  padding: 10px;
}

.newsletter-text {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.25rem;
}

.secondary {
  background-color: #fff;
  color: orangered;
  font-weight: normal;
  border: 1px solid orangered;
}

.secondary:hover {
  background-color: #fff;
  color: orangered;
  font-weight: normal;
}

/* ----- Footer ----- */
footer {
  background-image: url(./Images/Repeat\ Grid\ 1.png);
  color: #fff;
  text-align: center;
  padding: 5em 0;
}

/* .footer-text {
  background-color: organgered;
} */

.footer-title {
  margin: 0;
  padding: 1em 0;
}

/* ----- Media Queries ----- */
@media screen and (min-width: 1300px) {
  .hero-image {
    min-height: 900px;
  }

  .row-hero-coop {
    padding: 0 5em;
  }
}

@media screen and (max-width: 899px) {
  .row {
    flex-direction: column;
  }

  .col-6 {
    width: 100%;
  }

  .row-hero-coop:last-child {
    padding-bottom: 2em;
  }

  /* 
  .parallax {
    background-size: cover;
  } */

  .volunteer-section {
    flex-direction: column;
    margin: auto 2em;
  }

  .volunteers-img {
    display: none;
  }
} ;
