html {
  font-family: "Georgia", sans-serif;
  font-size: 18px;
  max-width: 50vw;
  margin: 0 auto;
  padding: 2em 0;
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
  color: #05080c;
}

section {
  border-bottom: 1px solid black;
}

h1,
h2,
h3 {
  font-weight: 900;
  padding: 0.3em 0;
}

li {
  padding-bottom: 1.5em;
}

.nav-link {
  padding: 0;
  font-weight: 900;
}

.nav-link:hover {
  color: #00a2af;
}

.map {
  float: right;
  height: 300px;
  margin-left: 15px;
}

th {
  background-color: #222222;
  color: #fff;
  padding: 10px 10px;
}

td {
  padding: 10px 10px;
  background-color: #eeeeee;
}

.made_by {
  text-align: center;
  font-size: 12px;
}
